<?xml version="1.0" encoding="utf-8"?>
<configuration>


    <system.windows.forms jitDebugging="true" />


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>

    <!--여기는 자신의 맞는 포트와 디비이름 userID 비밀번호 설정맞추기-->


    <add key="IP" value="127.0.0.1"/>  
    <add key="PORT" value="1433"/>
    <add key="DBNAME" value="MYDB1"/>
    <add key="USERID" value="sa"/>
    <add key="USERPASSWORD" value="123"/>
  </appSettings>
  
  
  <!--여기는 자신의 맞는 포트와 디비이름 userID 비밀번호 설정맞추기-->


</configuration>
